.Info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

.Info_Column{
    float: left;
    width: 60%;
    height: auto;
}

.Info_Column:last-child{
    width: 40%;
    height: auto;
    float: right;
    font-family: 'Gudea', sans-serif;
    display: flex;
    flex-direction: column;
}

.Info_Column .Title_first {
    text-align: left;
    font-family: 'Gudea', sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 4px 4px 4px 10px;
    background-color: #FFF;
    border-left: #03867B 9px solid;
}

.Info_Column .Description_first {
    text-align: left;
    padding-left: 20px;
    font-weight: 300;
    font-family: 'Gudea';
    font-size: 20px;
}

.Info_Column .Title_second {
    font-weight: 700;
    font-size: 28px;
    height: auto;
    width: 200px;
    padding: 4px 4px 4px 10px;
    background-color: #FFF;
    border-left: #03867B 9px solid;
}

.Info_Column .Description_second {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 10px;
    font-weight: 300;
    font-size: 20px;
    height: auto;
}

@media (max-width: 600px) {
    .Info {
        flex-direction: column;
        height: auto;
    }

    .Info_Column {
        float: none;
        width: auto;
    }

    .Info_Column:last-child {
        float: none;
        width: 100%;
    }

    .Title_second {
        width: auto;
    }

    .Description_second {
        width: auto;
    }

}
