.Ledger {
    display: flex;
    flex-direction: column;
    font-family: 'Gudea', sans-serif;
    height: 400px;
    width: 100%;
    border: 1px solid red;
}

.Ledger .Title {
    font-weight: 700;
    font-size: 28px;
    height: auto;
    width: 300px;
    padding: 4px 4px 4px 10px;
    background-color: #FFF;
    border-left: #03867B 9px solid;;
}

.Ledger .Description {
    text-align: center;
    padding-left: 0;
    padding-top: 3%;
    font-weight: 300;
    font-size: 20px;
    height: auto;
}



@media (max-width: 600px) {
    .Ledger {
        flex-direction: column;
    }

    .Ledger_Column{
        float: none;
        width: auto;
    }
}

